* {
    padding:0;
    margin:0;
}
body{
    background-image: url("https://i2.ypcdn.com/blob/fbb2423c72cefc6d67e2167d86d84a67dbf9583b");
    width:100%;
    background-repeat: none;
    background-size: cover;
}
.reset { 
    padding:5px;
    width:60%;
    margin-top: 0px;
    background-color:blue;
    font-size: 18px;
    background: linear-gradient(to left,#16bffd,#cb3066);
}
label {
    font-size: 16px;
}
.form2
{
padding:10px;
 border:1px solid black;
 width:400px;
height:390px;
text-align: center;
margin:45px  440px;
background: linear-gradient(to right,#67b26f,#4ca2cd);
}
.money option { 
    padding:5px;
    margin-top:10px;
}
input[type=checkbox] { 
    margin-top:15px;
    font-family: Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}
input[type=submit] { 
    padding:5px;
    width:60%;
    margin-top: 15px;
    background:linear-gradient(to left,#00c3ff,#ffff1c);
    font-size: 20px;
    color:black;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 { 
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px;
    font-family: Cochin;
}
h2 { 
    text-align: center;
    font-family: Cochin;
    margin-top: 30px;
    text-decoration: underline;
}
input[type=text] { 
    width:60%;
    padding:5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
input[type=tel] { 
    width:60%;
    padding:5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
input[type=number]:focus{ 
    background-color: aqua;
}
input[type=text]:focus {
    background-color: aqua;
     
}
select{ 
    width:60%;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin-top:18px;
    padding:5px;
}
select:focus { 
background-color: aqua;
}
.resort { 
    margin-top:20px;
}
input[type=radio] { 
    margin-right: 20px;

}
